<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PAP.Properties.Settings.PapConnectionString" connectionString="Data Source=BENH-398FA78474\SQLEXPRESS;Initial Catalog=Pap;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="PAP.Properties.Settings.papConnectionString1" connectionString="Dsn=tara;uid=root;server=localhost;database=pap;port=3306"
            providerName="System.Data.Odbc" />
        <add name="PAP.Properties.Settings.ConnectionString" connectionString="Dsn=pap;server=localhost;uid=root;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>